@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

/* Tela Computador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bitter", serif;
    font-weight: 600;
    font-style: italic;
}

:root {
    --cor-principal: #e8ab65;
    --cor-secundaria: #dd934e;
    --cor-terciaria: #ffdc93;
    --cor-fonte_1: #d17a37;
    --cor-fonte_2: #f4c47c;
}

.body {
    display: flex;
    height: 100vh;
}

.parte_esquerda {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    height: 100vh;
    width: 50%;
    color: var(--cor-fonte_1);
}

.parte_esquerda img {
    width: 20vw;
}

.parte_esquerda input {
    padding: 2%;
    width: 18vw;
    height: 4vh;
    border: 0;
    border-radius: 2vw;
    color: var(--cor-fonte_1);
}

.parte_esquerda input:focus {
    outline: 0;
}

.parte_esquerda button {
    background-color: var(--cor-fonte_1);
    width: 10vw;
    padding: 1%;
    border: 0;
    border-radius: 2vw;
    cursor: pointer;
    color: white;
}

.parte_esquerda button:hover {
    background-color: var(--cor-secundaria);
    transition: all .5s ease;
}

.parte_direita {
    background-color: var(--cor-secundaria);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3vh;
    height: 100vh;
    width: 50%;
    padding: 4%;
    color: var(--cor-fonte_2);
}

.parte_direita .Lista {
    width: 80%;
    overflow-y: auto;
}

.parte_direita .Lista .item {
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
    padding: 3%;
    border-radius: 2vw;
    color: var(--cor-fonte_1);
}

.parte_direita .Lista .item div {
    display: flex;
    gap: .4vw;
}

.parte_direita .Lista .item div button {
    background-color: var(--cor-fonte_1);
    width: 4vw;
    padding: 1%;
    border: 0;
    border-radius: 2vw;
    cursor: pointer;
    color: white;
}

.parte_direita .Lista .item div button:hover {
    background-color: var(--cor-secundaria);
    transition: all .5s ease;
}

/* Tela Tablet */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .parte_esquerda {
        width: 42%;
        font-size: 1.3rem;
    }
    
    .parte_esquerda img {
        width: 80%;
    }

    .parte_esquerda input {
        padding: 2%;
        width: 35vw;
        height: 5vh;
        font-size: 1.2rem;
    }

    .parte_esquerda button {
        background-color: var(--cor-fonte_1);
        width: 25vw;
        padding: 3%;
        font-size: 1.2rem;
    }

    .parte_direita {
        width: 58%;
        font-size: 1.3rem;
    }
    
    .parte_direita .Lista .item {
        padding: 7%;
    }

    .parte_direita .Lista .item div {
        gap: .3vw;
    }

    .parte_direita .Lista .item div button {
        width: auto;
        padding: 5.5%;
        font-size: 1.1rem;
    }
}

/* Tela Celular */
@media screen and (min-width: 320px) and (max-width: 480px) {
    .body {
        flex-direction: column;
    }

    .parte_esquerda,
    .parte_direita {
        padding: 15%;
        width: 100%;
    }

    .parte_esquerda img {
        width: 50%;
    }

    .parte_esquerda input {
        padding: 2%;
        width: 60vw;
        height: 5vh;
    }

    .parte_esquerda button {
        background-color: var(--cor-fonte_1);
        width: 30vw;
        padding: 3%;
    }

    .parte_direita {
        height: 50vh;
    }

    .parte_direita .Lista {
        width: 80vw;
    }

    .parte_direita .Lista .item {
        justify-content: space-around;
        padding: 5%;
    }

    .parte_direita .Lista .item div {
        gap: 2.5vw;
        margin-right: 3%;
    }

    .parte_direita .Lista .item div button {
        width: auto;
        padding: 5.5%;
    }
}